<h1 class="jumbotron-heading">Detalle del pais</h1>
<div
  *ngIf="!country"
  class="py-5 text-center"
  style="border: 1px solid #dee2e6"
>
  <div class="container">
    <p>No hay ningún país seleccionado aún.</p>
  </div>
</div>

<section
  *ngIf="country"
  class="py-5 text-center"
  style="border: 1px solid #dee2e6"
>
  <div class="container">
    <h1 class="jumbotron-heading">{{ country.name }}</h1>
    <img [src]="country.flag" alt="{{ country.name }}" width="30" height="20" />
  </div>
</section>
