<section class="py-5 text-center">
  <div class="container">
    <ng-container *ngIf="!isLoading">
      <ng-container *ngIf="items && items.length > 0">
        <h1 class="jumbotron-heading">Listado de Repartidores</h1>
        <select class="form-select" (change)="handleSelect($event)">
          <option value="" disabled selected>Selecciona un repartidor</option>
          <option *ngFor="let item of items" [value]="item.name">
            {{ item.name }}
          </option>
        </select>
      </ng-container>
      <ng-container *ngIf="!(items && items.length > 0)">
        <p>No hay repartidores disponibles.</p>
      </ng-container>
    </ng-container>
    <ng-container *ngIf="isLoading">
      <p>Cargando...</p>
    </ng-container>
  </div>
</section>
