<form
  [formGroup]="form"
  (ngSubmit)="createNewItem()"
  class="formulario container-fluid"
>
  <div class="form-floating form-control-group p-2">
    <label class="form-label" for="flavorName">Nombre del sabor</label>
    <input
      required
      type="text"
      class="form-control"
      id="flavorName"
      formControlName="flavorName"
    />
  </div>
  <div class="form-check">
    <input
      class="form-check-input"
      type="radio"
      id="type1"
      name="type"
      value="agua"
      required
      (change)="checkType($event)"
      formControlName="type"
    />
    <label class="form-check-label" for="type1"> Agua </label>
  </div>
  <div class="form-check">
    <input
      class="form-check-input"
      id="type2"
      name="type"
      type="radio"
      value="crema"
      required
      (change)="checkType($event)"
      formControlName="type"
    />
    <label class="form-check-label" for="type2"> Crema </label>
  </div>

  <div class="form-floating form-control-group p-2">
    <input
      required
      type="number"
      class="form-control"
      id="price"
      formControlName="price"
    />
    <label class="form-label" for="price">Precio</label>
  </div>

  <div class="form-floating form-control-group p-2">
    <input
      required
      type="number"
      class="form-control"
      id="weight"
      formControlName="weight"
    />
    <label class="form-label" for="weight">Peso</label>
  </div>

  <div class="d-grid gap-2 col-8 mx-auto">
    <button type="submit" class="btn btn-primary">Crear</button>
  </div>
  <br /><br />

  <p *ngIf="successMessage != undefined" class="alert alert-success mb-auto">
    {{ successMessage }}
  </p>
  <p *ngIf="errorMessage != undefined" class="alert alert-danger mb-auto">
    {{ errorMessage }}
  </p>
</form>
