<h4 class="d-flex justify-content-between align-items-center mb-3">
  Seleccione el país de origen
</h4>
<div class="overflow-auto border border-4" style="height: 500px">
  <ul class="list-group" *ngIf="countries && countries.length > 0">
    <li
      *ngFor="let country of countries"
      class="list-group-item"
      [id]="country.name"
    >
      <input
        class="form-check-input me-1"
        type="radio"
        name="listGroupRadio"
        [id]="'radio-' + country.name"
        (click)="handleSelect(country.name)"
      />
      <img
        [src]="country.flag"
        alt="{{ country.name }}"
        width="30"
        height="20"
      />
      <span class="ml-2">{{ country.name }}</span>
    </li>
  </ul>
  <p *ngIf="!countries || countries.length === 0">
    No se encontraron países por el momento.
  </p>
</div>
