<div class="card bg-dark text-light">
  <div class="card-body" *ngIf="itemDetail; else noItemSelected">
    <h1 class="display-4 mb-4">Detalle del Repartidor Seleccionado</h1>
    <p class="mb-2"><strong>Nombre:</strong> {{ itemDetail.name }}</p>
    <p class="mb-2"><strong>DNI:</strong> {{ itemDetail.dni }}</p>
    <p class="mb-2"><strong>Edad:</strong> {{ itemDetail.age }}</p>
    <p class="mb-2"><strong>Capacidad de Transporte:</strong> {{ itemDetail.transportCapacity }}</p>
    <p class="mb-2"><strong>Unidad Propia:</strong> {{ itemDetail.ownUnit ? "Sí" : "No" }}</p>
    <p class="mb-2"><strong>País de Origen:</strong> {{ itemDetail.country }}</p>
  </div>
  <ng-template #noItemSelected>
    <div class="card-body d-flex justify-content-center align-items-center">
      <p class="text-center">No seleccionó ningún repartidor.</p>
    </div>
  </ng-template>
</div>
