<div class="container">
  <div class="py-5 text-center">
    <h2>Alta repartidor</h2>
  </div>

  <div class="row">
    <app-table
      class="col-md-4 order-md-2 mb-4"
      (optionSelected)="getOptionSelected($event)"
    />
    <div class="col-md-8 order-md-1">
      <!-- Mensajes de error y éxito -->
      <div *ngIf="errorMessage" class="alert alert-danger">
        {{ errorMessage }}
      </div>
      <div *ngIf="successMessage" class="alert alert-success">
        {{ successMessage }}
      </div>
      <h4 class="mb-3">Ingrese los datos:</h4>
      <form
        class="needs-validation"
        [formGroup]="form"
        (ngSubmit)="createDeliveryPerson()"
      >
        <div class="row">
          <div class="col-md-6 mb-3">
            <label for="name">Nombre</label>
            <input
              type="text"
              class="form-control"
              id="name"
              placeholder=""
              value=""
              required
              formControlName="name"
              required
            />
          </div>
          <div class="col-md-6 mb-3">
            <label for="dni">DNI</label>
            <input
              type="text"
              class="form-control"
              id="dni"
              placeholder=""
              value=""
              required
              formControlName="dni"
              required
            />
          </div>
        </div>

        <div class="mb-3">
          <label for="age">Edad</label>
          <input
            type="number"
            class="form-control"
            id="age"
            formControlName="age"
            required
          />
        </div>

        <div class="mb-3">
          <label for="transportCapacity">
            Capacidad de transporte (en unidades)
          </label>
          <input
            type="number"
            class="form-control"
            id="transportCapacity"
            formControlName="transportCapacity"
            required
          />
        </div>

        <h4 class="mb-3">¿Es unidad propia?</h4>
        <div class="form-check">
          <input
            class="form-check-input"
            type="checkbox"
            id="unit"
            name="ownUnit"
            value="true"
            required
            (change)="checkUnit($event)"
            formControlName="ownUnit"
          />
          <label class="form-check-label" for="unit"> Sí </label>
        </div>
        <div class="form-check">
          <input
            class="form-check-input"
            id="unit2"
            name="ownUnit"
            type="checkbox"
            value="false"
            required
            (change)="checkUnit($event)"
            formControlName="ownUnit"
          />
          <label class="form-check-label" for="unit2"> No </label>
        </div>

        <hr class="mb-4" />
        <h6 class="mb-3" *ngIf="country">
          País de origen seleccionado: {{ country }}
        </h6>

        <button class="btn btn-primary btn-lg btn-block" type="submit">
          Crear
        </button>
      </form>
    </div>
  </div>
</div>
